.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.decor {
    position: absolute;
    top: 20%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #E2EAFC;
    transition: all .5s;
    z-index: -1;
}

.one {
    opacity: 0;
    animation-name: resize;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.two {
    background-color: transparent;
    left: -15%;
    width: 200px;
    height: 200px;
    border: 1px solid #f8ad9d;
    animation-name: replace;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.searcher {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70%;
    top: 30%;
    left: 15%;
    transition: all .35s;
}

.start {
    top: 0;
}

.hidding {
    display: none;
}

.logo {
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 0;
    font-size: 20px;
    text-decoration: none;
    padding: 60px 40px;
}

.heading {
  color: #f08080;
  font-size: 40px;
}

.text {
  color: #f08080;
  font-size: 15px;
}

@keyframes resize {
    0%, 100% {
        width: 500px;
        height: 500px;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 1000px;
        height: 1000px;
    }
}


@keyframes replace {
    0% {
      }
    10% {
      margin-left: -4.5em;
      }
    20% {
      margin-left: -5.5em;
      }
    30% {
      margin-left: -6em;
      }
    40% {
      margin-left: -4.5em;
      }
    50% {
      left: 50%;
      top: 0;
      width: 5em;
      height: 5em;
      margin-left: -2.5em;
      }
    60% {
       margin-left: 1.5em;
      }
    70% {
      margin-left: 3.5em;
      }
    80% {
      margin-left: 2.5em;
      }
    90% {
      margin-left: 1em;
      }
    
    100% {
        left: 102%;
        margin-left: -2.5em; 
    }  
      
  }